body {
    font-family: 'Rubik', sans-serif;
}

.navitem:hover {
    color: grey;
}

.navbar-fixed {
    opacity: 0.8;
}

.textarea {
    background-color: #DDDDDD;
    height: 770px;
}
.screencover {
	height: 110vw;
	width: 100%;
	position: fixed;
	background-color: black;
	animation-name: fadein;
	animation-duration: 2s;
	top: -10vw;
	animation-fill-mode: forwards;
	animation-delay: 0.1s;
	animation-timing-function: ease-in;
	z-index: 3;
}
.nav-wrapper {
	background-color: #25408e;
}
@keyframes fadein {
	0% {opacity: 1;}
	90%{opacity: 0;}
  100% {left: 100vw;}
}
.tickets {
    background-color: #EEDBB7;
    width: 30%;
    color: black;
    float: none;
    position: relative;
    top: -435px;
}

.showtimes {
    margin-left: 40%;
    width: 60%;
    background-color: #4D4D4D;
    color: #D9D9D9;
    position: relative;
    top: 5px;
}

.next_show {
    width: 30%;
    float: left;
    padding: 10px;
    background-color: #F2F2F2;
}

.reflink {
    color: white;
}

.reflink:hover {
    color: grey;
}
