body {
	font-family: 'Rubik', sans-serif;
}

.navitem:hover {
	color: grey;
}

.navbar-fixed {
	opacity: 0.8;
	display: fixed;
}

.songDownload {
	background-color: black;
	float: right;
	margin-right: 5px;
	color: white;
}

.songDownload:hover {
	background-color: white;
	color: black;
}

.thevideo {
	height: 300px;
	width: 100%;
	background-color: white;
}

.mediaplayer {
	width: 30%;
	background-color: #FFD7D3;
	color: #3D3D3D;
	border-radius: 25px;
	margin-right: 5%;
	float: right;
}

.mediaplayer1 {
	width: 30%;
	background-color: #D2E9FC;
	color: #3D3D3D;
	border-radius: 25px;
	margin-left: 30%;
	float: left;
}

.musicinfo {
	background-color: #EEDBB7;
	width: 20%;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	margin-top: 60px;
	margin-left: 5%;
	margin-right: 5%;
}

.image {
	width: 100%;
	height: 350px;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.player {
	width: 80%;
	margin: 20px;
}

.mediacontainer {
	height: 350px;
}

.reflink {
	color: white;
}

.reflink:hover {
	color: grey;
}
#openingslide {
	height: 120vw;
	top: -5vw;
	position: fixed;
	display: block;
	width: 100%;
	z-index: 1;
	animation: move1;
	animation-duration: 2s;
	animation-delay: 1.9s;
	animation-fill-mode: forwards;
	animation-play-state: running;
	animation-timing-function: ease-in-out;
}
.openingtext {
	font-size: 6vw;
	color: white;
	text-align: center;
}
.textarea {
	position: relative;
	margin-top: -80vw;
}
.btn1 {
	color: white;
	padding-top: 2vw;
	padding-bottom: 2vw;
	padding-left: 1vw;
	padding-right: 1vw;
	background-color: grey;
	text-align: center;
	width: 20%;
	margin-left: 40%;
	font-size: 1.4vw;
	font-family: 'Rubik', sans-serif;
	z-index: 2;
	position: relative;
	top: 30vw;
}
.btn1:hover{
	background-color: #BDBDBD;
}
@keyframes move1 {
	from {opacity: 1; left: 0vw;}
	to {opacity: 0; left: 100vw;}
}
.screencover {
	height: 110vw;
	width: 100%;
	position: fixed;
	background-color: black;
	animation-name: fadein;
	animation-duration: 2s;
	top: -10vw;
	animation-fill-mode: forwards;
	animation-delay: 0.1s;
	animation-timing-function: ease-in;
	z-index: 3;
	font-weight: 400;
}
.box {
	position: static;
	color: white;
	text-align: center;
	padding: 4vw;
}
.boxText {
	color: white;
	position: relative;
	font-size: 1.5vw;
	font-weight: 400;
}
.animate {
	animation-name: arrive;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
.hidden {
	opacity: 0;
}
.boxHeader {
	color: white;
	font-size: 3vw;
	font-weight: 700;

}
.hidden2 {
	opacity: 0.4;
}
.animate2 {
	animation-name: appear;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}
@keyframes arrive {
	0% {opacity: 0; left: 200vw;}
	70% {opacity: 0.5; left: 0vw;}
	100% {opacity: 0.8; left: 0vw;}

}
@keyframes appear {
	from {opacity: 0.2;}
	to {opacity: 1;}
}
@keyframes fadein {
	0% {opacity: 1;}
	90%   {opacity: 0;}
	100% {left: 100vw;}
}
.nav-wrapper {
	background-color: #25408e;
}
.coverText {
	position: relative;
	font-size: 6vw;
	z-index: 0;
	text-align: center;
	top: -30vw;
	color: black;
	font-weight: 400;
	font-family: 'Rubik', sans-serif;
}
.down {
	font-size: 6vw;
	position: absolute;
	z-index: 3;
	text-align: center;
	color: black;
	animation-name: movement;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}
@keyframes movement {
	from {top: 10vw; color: black; font-size: 6vw;}
	to {top: 15vw; color: white; font-size: 7vw;}
}
